@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/Roboto-Regular.ttf');
    src: url('../fonts/Roboto-Regular.ttf') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.ttf') format('ttf'),
    url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    }
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.ttf');
    src: url('../fonts/Roboto-Light.ttf') format('embedded-opentype'),
    url('../fonts/Roboto-Light.ttf') format('ttf'),
    url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    }
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.ttf');
    src: url('../fonts/Roboto-Medium.ttf') format('embedded-opentype'),
    url('../fonts/Roboto-Medium.ttf') format('ttf'),
    url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    }
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.ttf');
    src: url('../fonts/Roboto-Black.ttf') format('embedded-opentype'),
    url('../fonts/Roboto-Black.ttf') format('ttf'),
    url('../fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    }